@charset "UTF-8";

section{
  padding-top: 5rem;
  padding-bottom: 5rem;
  line-height: 2rem;
  padding-left: 2rem;  
  font-size: 1.2rem;
}

section p {
  width: 50rem;
  margin: 4rem;
}

section .normal{
  background-color: var(--cor0);
  color: var(--cor3);
  text-shadow:.5px .5px 0 black;
 }


section.imagem{
  background-color: var(--cor0);
  color: var(--cor6);
  box-shadow: insect 6px 6px 13px 0 black;
  background-size: cover;
  margin: 2rem;
  background-attachment: fixed; /*efeito parallax*/
}

section.imagem >h2{
  width: 50rem ;
  padding-top: 1rem;
  padding-left: 2rem;
  background-color: var(--cor6);
  text-shadow: .5px .5px 0 black;
}

section.imagem >h3{
  width: 50rem;
  padding-left: 2rem;
  background-color: var(--cor6);
  text-shadow: .5px .5px 0 black;
}

section.imagem >p{
  width: 50rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: var(--cor6);
  text-shadow: .5px .5px 0 black;
}

section#img1{
  background-image: url(../imagens/hermetico/img1.jpg);
  
}

section#img2{
  background-image: url(../imagens/hermetico/img2.jpg);
 
}

section#img3{
  background-image: url(../imagens/hermetico/img3.jpg);
  
}

section#img4{
  background-image: url(../imagens/hermetico/img4.jpg);
 }

section#img1, section#img2, section#img3, section#img4 {
  background-size: 80vw auto; /* Largura é 50% da viewport */
  background-position: left center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
}





footer{
  background-color: var(--cor2);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}




