@charset "UTF-8";

section h2{
  font-family: var(--font3);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

div.tabela{
  overflow-x: auto;/* conteudotransborda- horizontal)*/
  }

table{
  width: 92rem;
  border-collapse: collapse; 
  margin-bottom: 2rem;
  margin-left: 1rem;
  position: relative;
}

caption{
  font-family: var(--font3);
  padding: 1em;
  
}

thead >tr >th {
  position: sticky; /* manter o cabeçalho na rodagem*/
  top: -1px;
  background-color: var(--cor2);
}

tbody > tr:nth-child(2n) /* (odd) ou (even) - par ou impar */ {
  background-color: var(--cor1);
}

th{
  font-family: var(--font3);
  font-weight: bold;
  border: .01rem solid black;
 text-align: center;
 padding: .5rem;
 vertical-align: center; 
 background-color: var(--cor2);
 color: white;
}

td{
  font-family: var(--font3);
 border: .01rem solid black;
 text-align: center;
 padding: .5rem;
 vertical-align: center;
}

tfoot th{
background-color: var(--cor4);
color: var(--cor3);
}




footer{
  background-color: var(--cor2);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}