@charset "UTF-8";

@font-face {
  font-family: 'astrologicus';
  src: url(../fonts/Astrologicus.ttf) format('openatype');
}

@font-face {
  font-family: 'castro';
  src: url(../fonts/castroestevez.otf) format('opentype');
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/Lato-Regular.ttf) format('opentype');
}

@font-face{ 
  font-family:'sriracha';
  src: url(../fonts/Sriracha-Regular.ttf) format('opentype');
  }

/* https://color.adobe.com/pt/mythemes  mapadalma */
:root{
  --cor0:#EAE6F4;
  --cor1:#89CFF0;
  --cor2:#5D3A9B;
  --cor3:#4A4A4A;
  --cor4:#D4AF37;
  --cor5:#000000;
  --cor6:#5e3a9b00;
  ;

  --font1:'astrologicus', Arial, Verdana;
  --font2:'castro', Arial, Verdana;
  --font3:'lato', Arial, Verdana;
  --font4:'sriracha' , Arial, Verdana;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color:var(--cor0);
  min-height: 100vh;
  font-family: var(--font4);
}

header{
background-color: var(--cor2);
color: white;
text-align: center;
}

header >h1{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: var(--font2);
  font-size: 16vh;
  text-shadow: 5px 5px 0 rgba(0,0,0, 0.300);
}

nav{
  background-color: var(--cor1);
  color: var(--cor1);
  font-family: var(--font3);
  font-size: 1.2rem;  
  padding: .5rem;
  text-align: center;  
  box-shadow: 0 7px 7px rgba(0,0,0, 0.322);
}

nav a{
  text-decoration: none;
  color: var(--cor2);
  padding: .5rem;
  font-weight: normal;
  margin: auto;  
  width: 5rem; /* Limita a largura máxima do link a 10rem */
}

nav a:hover{
  text-decoration: underline;  
  transition-duration: -4s;
}

section h2{
  font-family: var(--font3);
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

table{
  width: 92rem;
  border-collapse: collapse;
  margin-bottom: 2rem;
  margin-left: 1rem;
  position: relative;
}

caption{
  font-family: var(--font3);
  padding: 1em;
  
}

thead >tr >th {
  position: sticky;
  top: -1px;
  background-color: var(--cor2);
}

tbody > tr:nth-child(2n) /* (odd) ou (even) - par ou impar */ {
  background-color: var(--cor1);
}

th{
  font-family: var(--font3);
  font-weight: bold;
  border: .01rem solid black;
 text-align: center;
 padding: .5rem;
 vertical-align: center; 
 background-color: var(--cor2);
 color: white;
}

td{
  font-family: var(--font3);
 border: .01rem solid black;
 text-align: center;
 padding: .5rem;
 vertical-align: center;
}

tfoot th{
background-color: var(--cor4);
color: var(--cor3);
}




footer{
  background-color: var(--cor2);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}